@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body{
    margin:0;
    height:70vh;
}
.sec1{
    background-color: #726a95;
    width: 40vw;
    height: 70vh;
    margin:120px auto;
    border:#726a95 solid 1px;
    border-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    padding:0 3%;
    &-head{
        font-family: 'Reggae One', cursive;
        text-align:center;
    }
    &-opt{
        width:100%;
        height:3vh;
        background:#fff;
        margin: 3% 0;
    }
    &-aside{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(3,50px);
        &-head1{
            font-size: 1.5em;
            grid-area: 1/1/2/2;
        }
        &-head3{
            grid-area: 2/1/3/2;
            font-size: 1em;
        }
        &-head3-2{
            grid-area: 2/2/3/3;
            font-size: 1em;
            justify-self: center;
        }
        &-div{
            grid-area: 3/1/4/2;
        }
        &-div2{
            grid-area: 3/2/4/3;
            justify-self: center;
        }
    }
}
